serverless.yml
service: distributed-patterns-demo

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  tracing:
    lambda: true
    apiGateway: true
  environment:
    ORDERS_TABLE: ${self:service}-orders-table-${sls:stage}
    OUTBOX_TABLE: ${self:service}-outbox-table-${sls:stage}
    EVENT_BUS_NAME: ${self:service}-event-bus-${sls:stage}
    IDEMPOTENCY_TABLE: ${self:service}-idempotency-v2-${sls:stage}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Query
          Resource:
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:service}-orders-table-${sls:stage}
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:service}-outbox-table-${sls:stage}
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:service}-idempotency-v2-${sls:stage}
        - Effect: Allow
          Action:
            - events:PutEvents
          Resource:
            - arn:aws:events:${self:provider.region}:*:event-bus/${self:service}-event-bus-${sls:stage}
        - Effect: Allow
          Action:
            - states:StartExecution
          Resource:
            - arn:aws:states:${self:provider.region}:*:stateMachine:${self:service}-order-workflow-${sls:stage}

plugins:
  - serverless-plugin-typescript
  - serverless-step-functions

package:
  individually: true
  patterns:
    - "!.git/**"
    - "!.gitignore"
    - "!.vscode/**"
    - "!.idea/**"
    - "!README.md"
    - "!.build/**"
    - "!pnpm-lock.yaml"
    - "!package-lock.json"
    - "!tsconfig.json"
    - "!**/*.md"
    - "!**/*.map"
    - "!**/test/**"
    - "!**/tests/**"

functions:
  createOrder:
    handler: src/functions/order-service/handler.create
    events:
      - http:
          path: orders
          method: post

  outboxProcessor:
    handler: src/functions/outbox-processor/handler.processor
    environment:
      STATE_MACHINE_ARN: !Ref OrderWorkflowStateMachine
    events:
      - stream:
          type: dynamodb
          arn: !GetAtt OutboxTable.StreamArn

  reserveInventory:
    handler: src/functions/workflow/reserve-inventory.handler

  processPayment:
    handler: src/functions/workflow/process-payment.handler

  sendNotification:
    handler: src/functions/workflow/send-notification.handler

  compensate:
    handler: src/functions/workflow/compensate.handler

stepFunctions:
  stateMachines:
    orderWorkflow:
      id: OrderWorkflowStateMachine
      name: ${self:service}-order-workflow-${sls:stage}
      type: EXPRESS
      loggingConfig:
        level: ALL
        includeExecutionData: true
        destinations:
          - Fn::GetAtt: [OrderWorkflowLogGroup, Arn]
      definition:
        Comment: "Order Processing Workflow - Reserve Inventory -> Process Payment -> Send Notification"
        StartAt: ReserveInventory
        States:
          ReserveInventory:
            Type: Task
            Resource:
              Fn::GetAtt: [reserveInventory, Arn]
            Retry:
              - ErrorEquals:
                  - States.TaskFailed
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: WorkflowFailed
            ResultPath: $.reservationResult
            Next: ProcessPayment

          ProcessPayment:
            Type: Task
            Resource:
              Fn::GetAtt: [processPayment, Arn]
            Retry:
              - ErrorEquals:
                  - States.TaskFailed
                  - States.Timeout
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: CompensateInventory
            ResultPath: $.paymentResult
            Next: SendNotification

          SendNotification:
            Type: Task
            Resource:
              Fn::GetAtt: [sendNotification, Arn]
            Retry:
              - ErrorEquals:
                  - States.TaskFailed
                IntervalSeconds: 1
                MaxAttempts: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: WorkflowCompleted
            ResultPath: $.notificationResult
            Next: WorkflowCompleted

          CompensateInventory:
            Type: Task
            Resource:
              Fn::GetAtt: [compensate, Arn]
            InputPath: $
            ResultPath: $.compensationResult
            Next: WorkflowFailed

          WorkflowCompleted:
            Type: Succeed

          WorkflowFailed:
            Type: Fail
            Error: WorkflowExecutionFailed
            Cause: One or more workflow steps failed

resources:
  Resources:
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: orderId
            AttributeType: S
          - AttributeName: customerId
            AttributeType: S
        KeySchema:
          - AttributeName: orderId
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: CustomerIndex
            KeySchema:
              - AttributeName: customerId
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    OutboxTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.OUTBOX_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: eventId
            AttributeType: S
          - AttributeName: createdAt
            AttributeType: S
        KeySchema:
          - AttributeName: eventId
            KeyType: HASH
        StreamSpecification:
          StreamViewType: NEW_IMAGE
        GlobalSecondaryIndexes:
          - IndexName: CreatedAtIndex
            KeySchema:
              - AttributeName: createdAt
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    IdempotencyTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.IDEMPOTENCY_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TimeToLiveSpecification:
          AttributeName: expiration
          Enabled: true

    EventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:provider.environment.EVENT_BUS_NAME}

    OrderWorkflowLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        LogGroupName: /aws/vendedlogs/states/${self:service}-order-workflow-${sls:stage}
        RetentionInDays: 7
